p {
    font-family: "Comic Sans MS", "Comic Neue", cursive;
    display: flex;
    justify-content: center;
    justify-content: center;
}

div {
    margin-top: 12%;
    margin-bottom: 12%;
}

img {
    width: 20px;
}

.images {
    width: 20px;
    vertical-align: middle;
    margin-left: 8px;
}