p {
    font-family: "Comic Sans MS", "Comic Neue", "NanumGothicKR" cursive;
    display: flex;
    justify-content: center;
    justify-content: center;
}

div {
    margin-top: 12%;
    margin-bottom: 12%;
}

img {
    width: 20px;
}

.images {
    width: 20px;
    vertical-align: middle;
    margin-left: 6px;
}

@font-face {
  font-family: "NanumGothicKR";
  src: local("Nanum Gothic");
  unicode-range: U+AC00-D7A3;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }
}