p {
    font-family: "Comic Sans MS", "Comic Neue", cursive;
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top: 30%;
}

img {
    width: 20px;
}

.images {
    width: 20px;
    vertical-align: middle;
}